body {
  font-family: "Georgia", serif;
}
.container-form {
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #8255ea, #4c3f85, #180a3a);
  overflow: hidden;
  padding-top: 60px;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  padding: 60px 20px;
  box-sizing: border-box;
}
.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(2px 2px at 10% 20%, white, transparent),
    radial-gradient(1.5px 1.5px at 40% 30%, white, transparent),
    radial-gradient(2px 2px at 70% 60%, white, transparent),
    radial-gradient(1px 1px at 80% 80%, white, transparent);
  background-repeat: repeat;
  background-size: 100px 100px;
  animation: twinkle 5s infinite alternate;
  pointer-events: none;
}

.form-container {
  min-width: 400px;
  margin-top: 90px !important;
  margin: 20px auto;
  padding: 20px;
  background-color: #1e0c45;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  color: white;
  z-index: 11;
}

.form-toggle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.form-toggle button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.form-toggle .active {
  border-bottom: 2px solid #facc15;
}

.form {
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 450px;
  display: flex;
  justify-content: center;
}

.form input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: #180a3a;
}

.form button {
  background-color: #facc15;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.form button:hover {
  background-color: #fde047;
}

.zodiac-display {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  color: #facc15;
}

.zodiac-info {
  text-align: center;
  margin-top: 10px;
  color: #6a1b9a;
  font-weight: 500;
}
@media (max-width: 768px) {
  .container-form {
    height: 110vh;
  }
}
